In [36]:
import bs4,requests
import re
import pandas as pd
import numpy as np

In [37]:
url='https://www.cargurus.com/Cars/inventorylisting/viewDetailsFilterViewInventoryListing.action?sourceContext=carGurusHomePageModel&entitySelectingHelper.selectedEntity=d905&zip=02148'
res=requests.get(url)

In [38]:
soup=bs4.BeautifulSoup(res.text)

In [39]:
cartitles=soup.findAll('div',{"class":"titleWrap"})
prices=soup.findAll('span',{"class":"price"})
mile=soup.findAll('p',{"class":"mileage"})
dealer=soup.findAll('div',{"class":"dealerWrap"})
if(len(cartitles) != len(prices)):
    print('missing value')

In [40]:
cartitles=[cartitle.text.split('Description')[0] for cartitle in cartitles]

In [41]:
cartitles=[re.sub('[\\n]','',cartitle) for cartitle in cartitles]
cartitles=[re.sub('^[ \t]+|[ \t]+$','',cartitle) for cartitle in cartitles]

In [42]:
prices=[price.text.strip("\n")for price in prices]
mileage=[]
for i in mile:
    mileage.append(i.text)

In [43]:
df=pd.DataFrame(prices,cartitles)

In [44]:
df=df.reset_index()
df.columns=['model','price']
df['mileage']=mileage

In [45]:
df

                                          model    price     mileage
0                       2014 Jeep Compass Sport  $11,999   68,029 mi
1                 2020 Jeep Compass Limited 4WD  $25,395   10,820 mi
2                 2020 Jeep Compass Limited 4WD  $24,795   11,712 mi
3                2015 Jeep Compass Latitude 4WD  $10,995   65,000 mi
4                 2020 Jeep Compass Limited 4WD  $19,995   33,951 mi
5               2019 Jeep Compass Trailhawk 4WD  $19,706   48,010 mi
6                 2019 Jeep Compass Limited 4WD  $20,733   21,193 mi
7   2016 Jeep Compass High Altitude Edition 4WD  $13,600   62,094 mi
8                 2018 Jeep Compass Limited 4WD  $19,790   36,406 mi
9                 2020 Jeep Compass Limited 4WD  $23,294   13,097 mi
10               2012 Jeep Compass Latitude 4WD   $7,500   92,658 mi
11               2016 Jeep Compass Latitude 4WD  $11,990   75,401 mi
12               2018 Jeep Compass Latitude 4WD  $18,987   18,502 mi
13                2012 Jeep Compass Limited 4WD   $8,399  106,069 mi
14                  2016 Jeep Compass Sport 4WD  $12,495   60,588 mi
15               2020 Jeep Compass Latitude 4WD  $20,750   16,680 mi
16                2018 Jeep Compass Limited 4WD  $20,998   18,724 mi
17               2018 Jeep Compass Latitude 4WD  $17,948   36,036 mi
18               2019 Jeep Compass Latitude 4WD  $23,500    3,186 mi

In [46]:
meanprice=df['price'].str.strip('$').str.replace(',','').astype(int)
meanprice.mean()

17519.42105263158

In [47]:
mile=df['mileage'].str.strip('mi').str.replace(',','').astype(int)
mile.mean()

42008.21052631579

In [48]:
df.sort_values('model')

                                          model    price     mileage
10               2012 Jeep Compass Latitude 4WD   $7,500   92,658 mi
13                2012 Jeep Compass Limited 4WD   $8,399  106,069 mi
0                       2014 Jeep Compass Sport  $11,999   68,029 mi
3                2015 Jeep Compass Latitude 4WD  $10,995   65,000 mi
7   2016 Jeep Compass High Altitude Edition 4WD  $13,600   62,094 mi
11               2016 Jeep Compass Latitude 4WD  $11,990   75,401 mi
14                  2016 Jeep Compass Sport 4WD  $12,495   60,588 mi
12               2018 Jeep Compass Latitude 4WD  $18,987   18,502 mi
17               2018 Jeep Compass Latitude 4WD  $17,948   36,036 mi
16                2018 Jeep Compass Limited 4WD  $20,998   18,724 mi
8                 2018 Jeep Compass Limited 4WD  $19,790   36,406 mi
18               2019 Jeep Compass Latitude 4WD  $23,500    3,186 mi
6                 2019 Jeep Compass Limited 4WD  $20,733   21,193 mi
5               2019 Jeep Compass Trailhawk 4WD  $19,706   48,010 mi
15               2020 Jeep Compass Latitude 4WD  $20,750   16,680 mi
4                 2020 Jeep Compass Limited 4WD  $19,995   33,951 mi
2                 2020 Jeep Compass Limited 4WD  $24,795   11,712 mi
1                 2020 Jeep Compass Limited 4WD  $25,395   10,820 mi
9                 2020 Jeep Compass Limited 4WD  $23,294   13,097 mi